.place-order-container {
  display: flex;
  gap: 20px;
  padding: 0;
  background-color: #000;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  position: relative;
  margin-bottom: -30px;
  margin-top: 20px;
}

.order-card {
  background: rgba(153, 94, 142, 1);
  border-radius: 20px;
  padding: 40px 30px;
  color: white;
  width: 380px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  z-index: 1;
}

.order-card-man {
  background: black;
  border-radius: 20px;
  padding: 0;
  color: white;
  width: 430px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
}

.order-content {
  z-index: 2;
  position: relative;
}

.order-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 35px;
  letter-spacing: -0.2px;
  margin-top: 10px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.btn-icon-order {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.btn-icon-order .order-btn-img {
  width: 20px;
  height: 20px;
}

.download-buttons-order {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 235px;
  padding: 0px 0px 0px 0px;
}

.btn-sub-order {
  font-size: 13px;
}
.download-btn-order {
  padding: 10px 10px 10px 10px;
}

.order-subtitle {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  margin-top: 180px;
    font-family: "PP Neue Montreal Thin", sans-serif;

}

.delivery-man-card {
  background: linear-gradient(135deg, #f5f5dc 0%, #e6e6be 100%);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.delivery-man {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  object-position: -480px center;
  background: linear-gradient();
}

.delivery-man-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom left,
    transparent 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(19, 6, 17, 1) 100%
  );
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
}

.placeorderimage1 {
  position: absolute;
  bottom: -95px;
  right: -95px;
  z-index: 0;
  pointer-events: none;
  transform: rotate(1deg);
}

.gas-cylinder-right {
  width: 280px;
  height: 380px;
  opacity: 0.8;
  transform: rotate(10deg);
}

.placeorderimage2 {
  position: absolute;
  bottom: -98px;
  left: -185px;
  z-index: 1;
  pointer-events: none;
}

.gas-cylinder-left {
  width: 275px;
  height: 380px;
  opacity: 0.8;
  transform: rotate(10deg);
}

@media (max-width: 1024px) {
  .place-order-container {
    display: none;
  }
}
